<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320009345682-3qcootegbqrvkv7nudjn8t1euto421e5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320009345682-3qcootegbqrvkv7nudjn8t1euto421e5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>320009345682-op9764hpod93ldp7br0appavi7m2bc5f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNcQZaq596hKOSvx6riVGI_4QkkqwRx7s</string>
	<key>GCM_SENDER_ID</key>
	<string>320009345682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soilnutrientanalyzer</string>
	<key>PROJECT_ID</key>
	<string>soil-nutrient</string>
	<key>STORAGE_BUCKET</key>
	<string>soil-nutrient.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320009345682:ios:5e89c6a6398bda749c644b</string>
</dict>
</plist>